@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.logo,
.profile {
  position: absolute;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile a {
  text-decoration: none;
  color: #4d5157;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

.seperator {
  width: 100%;
  border-bottom: 1px solid #dadce0;
}

.logo {
  left: 25px;
  top: 35px;
  background-image: url("../img/googlelogo_color_92x30dp.png");
  background-size: 95px;
  background-repeat: no-repeat;
  width: 184px;
  height: 30px;
}

.profile {
  right: 15px;
  top: 15px;
}

.container {
  width: 48%;
  margin-left: 180px;
}

.container header {
  font-size: 0.8rem;
}

.container header .topMain__searchBar__input {
  width: 104%;
  position: relative;
  z-index: 10;
  left: -2%;
  margin-top: 25px;
  margin-bottom: 13px;
  padding: 15px;
  padding-left: 25px;
  border-radius: 50px;
  border: 2px solid #f1f3f4;
  -webkit-box-shadow: 0 2px 5px 1px #f1f3f4;
          box-shadow: 0 2px 5px 1px #f1f3f4;
}

.container header .topMain__searchBar__input:focus {
  outline: none;
}

.container header .topMain__searchBar__input:hover {
  -webkit-box-shadow: 0 2px 10px 3px #f1f3f4;
          box-shadow: 0 2px 10px 3px #f1f3f4;
}

.container header .topSecondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d5157;
}

.container header .topSecondary__optionsMenu, .container header .topSecondary__settings {
  width: 100%;
}

.container header .topSecondary__optionsMenu ul, .container header .topSecondary__settings ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.container header .topSecondary__optionsMenu ul .selectedItem, .container header .topSecondary__settings ul .selectedItem {
  color: #3c00ff;
  border-bottom: 3px solid #3c00ff;
}

.container header .topSecondary__optionsMenu ul li, .container header .topSecondary__settings ul li {
  color: #4d5157;
  padding: 15px 10px;
  min-width: 75px;
}

.container header .topSecondary__optionsMenu ul li i, .container header .topSecondary__settings ul li i {
  margin-right: 5px;
}

.container header .topSecondary__settings ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container header .topSecondary__settings ul li {
  text-align: right;
  min-width: auto;
}

.container .main .resultAmount {
  color: #4d5157;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 0.8rem;
}

.container .main .searchResult {
  margin-bottom: 35px;
}

.container .main .searchResult__searchLink, .container .main .searchResult__translateLink {
  display: inline-block;
}

.container .main .searchResult__translateLink {
  position: relative;
  color: #2c00b9;
  margin-left: 15px;
}

.container .main .searchResult__translateLink::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #4d5157;
}

.container .main .searchResult__header {
  margin: 7px 0;
  color: #2c00b9;
  font-size: 20px;
}

.container .main .searchResult__bodyText {
  line-height: 1.5rem;
  color: #4d5157;
  margin-bottom: 15px;
}

.container .main .connectedSearches__header {
  color: #202125;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
}

.container .main .connectedSearches__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.container .main .connectedSearches__container__connectedSearcLink {
  text-decoration: none;
  color: #202125;
  background-color: #f1f3f4;
  min-width: 320px;
  padding: 15px 35px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.container .main .connectedSearches__container__connectedSearcLink i {
  color: #4d5157;
  margin-right: 25px;
}

.container .main .paginationContainer {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  color: #2c00b9;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .paginationContainer table td {
  min-width: 20px;
}

footer {
  background-color: #f1f3f4;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4d5157;
  font-size: 15px;
}

footer .addressBar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dadce0;
}

footer .addressBar__text {
  padding-left: 180px;
}

footer .addressBar__text a {
  text-decoration: none;
  color: #4d5157;
}

footer .addressBar__text i {
  font-size: 10px;
}

footer .helpBar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 180px;
}

footer .helpBar a {
  text-decoration: none;
  color: #4d5157;
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */